.nav-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-controls-container{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}